@charset "UTF-8";
/**
* Author: Mark Benson Opeña
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

html {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #000000; }

#hero {
  width: 100%;
  height: 40vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden; }
  #hero .video-cover {
    position: relative;
    width: 100%;
    height: 100%; }
    #hero .video-cover .preloader {
      position: absolute;
      background: url("../assets/images/banner.jpg") center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #hero .video-cover .preloader img {
        width: 100%; }
    #hero .video-cover video {
      height: 40vh;
      width: 100%;
      object-fit: cover;
      max-width: 1400px; }
    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      #hero .video-cover video {
        height: auto;
        object-fit: cover;
        object-position: top left; } }

.section-wrapper {
  position: relative;
  padding: 2em 0; }

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer; }
  .play-icon:hover {
    background-color: #cd201f; }
  .play-icon .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto; }

#section-1 {
  margin-top: -92px;
  padding-bottom: 0; }
  #section-1 .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px; }
    #section-1 .intro .logo {
      max-width: 150px; }
      #section-1 .intro .logo img {
        width: 100%; }
    #section-1 .intro .info {
      margin-left: 35px; }
      #section-1 .intro .info p {
        font-size: 20px;
        color: #ffffff;
        line-height: 28px;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0; }

.carousel {
  position: relative; }
  .carousel h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 2rem; }
  .carousel .carousel-image {
    display: flex; }
    .carousel .carousel-image .image-holder {
      width: calc(100%/4);
      position: relative; }
      .carousel .carousel-image .image-holder.active img.active-img {
        display: block; }
      .carousel .carousel-image .image-holder img {
        width: 100%; }
        .carousel .carousel-image .image-holder img.active-img {
          display: none;
          position: absolute;
          top: 0; }
  .carousel .carousel-info {
    text-align: center;
    margin-top: 1rem; }
    .carousel .carousel-info p {
      font-size: 20px; }
    .carousel .carousel-info .type-text {
      white-space: nowrap; }
      .carousel .carousel-info .type-text.green {
        color: #5ba042; }
      .carousel .carousel-info .type-text.cyan {
        color: #0096e6; }
      .carousel .carousel-info .type-text.orange {
        color: #e3a036; }
      .carousel .carousel-info .type-text.red {
        color: #ed6a88; }

.cta-container {
  position: relative;
  padding: 5em 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede; }
  .cta-container .logo {
    text-align: center; }
    .cta-container .logo img {
      max-width: 200px; }
    .cta-container .logo .tagline {
      margin: 1.5rem 0; }
  .cta-container .input-group {
    margin: 0 auto;
    justify-content: center; }
    .cta-container .input-group .rounded-select {
      height: 60px;
      border-radius: 36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      overflow: hidden;
      background-color: #0a0a0a;
      color: white;
      padding: 0 1em; }
      .cta-container .input-group .rounded-select select {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        height: 60px;
        -webkit-appearance: none;
        appearance: none; }
    .cta-container .input-group input.input-field {
      width: 180px;
      height: 60px;
      border: 2px solid #0a0a0a;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none; }
    .cta-container .input-group button.btn.btn-primary {
      margin-left: 1.5rem;
      background-color: #3b7fde;
      border-radius: 36px;
      font-size: 20px;
      padding: 0 1.5em; }

#section-3 {
  padding-top: 0; }

#section-4 {
  padding: 0;
  border-bottom: 1px solid #bfbfbf;
  background-color: white;
  position: relative; }
  #section-4 .usage-container {
    position: relative; }
  #section-4 .pin-navigation {
    position: relative;
    top: 50%; }
    #section-4 .pin-navigation .dots {
      height: 10px;
      width: 9px;
      background-color: #bfbfbf;
      border-radius: 100%;
      display: block;
      margin: 10px 0; }
      #section-4 .pin-navigation .dots.active {
        height: 20px;
        border-radius: 5px; }
  #section-4 .pin-wrapper {
    height: 100%; }
  #section-4 .scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    height: 100% !important; }
  #section-4 .item {
    height: 100vh;
    position: relative; }
    #section-4 .item.item-1 .image {
      background-image: url("../assets/images/1st-phone-screen.png");
      top: 50%; }
    #section-4 .item.item-2 .image {
      background-image: url("../assets/images/2nd-phone-screen.png");
      top: -50%; }
    #section-4 .item.item-3 .image {
      background-image: url("../assets/images/3rd-phone-screen.png");
      top: -50%; }
    #section-4 .item.item-4 .image {
      background-image: url("../assets/images/4th-phone-screen.png");
      top: -50%; }
    #section-4 .item.item-5 .image {
      background-image: url("../assets/images/5th-phone-screen.png");
      top: -50%; }
    #section-4 .item .image {
      margin-top: -200px;
      width: 45%;
      height: 613px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat; }
    #section-4 .item .item-info {
      color: #0a0a0a;
      position: absolute;
      top: -45%;
      left: 70%;
      transform: translate(-50%, -50%);
      font-size: 17px;
      text-align: left;
      width: 50%; }
      #section-4 .item .item-info .section-title {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 300px;
        font-size: 30px;
        text-align: center; }
      #section-4 .item .item-info h2 {
        opacity: 1 !important;
        visibility: visible !important;
        top: -80px;
        color: #bfbfbf;
        position: relative; }
      #section-4 .item .item-info h3 {
        font-size: 30px; }
      #section-4 .item .item-info p {
        font-size: 26px;
        margin: 1rem 0 0; }
  #section-4 .titles {
    color: #3f434a;
    position: absolute;
    top: -50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 45%; }
  #section-4 .list li {
    border-bottom: 1px solid #8e8e8e;
    margin-bottom: 15px;
    padding-bottom: 10px; }

/** Main navigation **/
#main-nav {
  position: relative; }
  #main-nav ul.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0; }
    #main-nav ul.navigation .nav-link {
      position: relative; }
      #main-nav ul.navigation .nav-link a {
        color: #0a0a0a;
        letter-spacing: 0.5px;
        text-decoration: none; }
        #main-nav ul.navigation .nav-link a:hover {
          color: #3b7fde; }
      #main-nav ul.navigation .nav-link.active a {
        border-bottom: 1px solid #0a0a0a;
        padding-bottom: 0.5em; }

/** Footer **/
.footer-wrapper {
  position: relative;
  padding: 2em 0; }
  .footer-wrapper .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: #9e9e9e; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 50%; } }
body {
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif; }

#intro {
  height: 100vh;
  background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%);
  text-align: center;
  color: #fff; }

#intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
