/**
* Author: Mark Benson Opeña
**/

@import 'partials/initial-variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #000000;
}

#hero {
  width: 100%;
  height: 40vh;
  background-color: #000000;
  text-align: center;
  overflow: hidden;

  .video-cover {
    position: relative;
    width: 100%;
    height: 100%;

    .preloader {
      position: absolute;
      background: url('../assets/images/banner.jpg') center no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    video {
      height: 40vh;
      width: 100%;
      object-fit: cover;
      max-width: 1400px;
    }

    @supports (object-fit: cover) and (-ms-ime-align: auto) {
      video {
        height: auto;
        object-fit: cover;
        object-position: top left;
      }
    }
  }
}

.section-wrapper {
  position: relative;
  padding: 2em 0;
}

.play-icon {
  background: rgba(0, 0, 0, 0.55);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  margin: auto;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: #cd201f;
  }
  .tri {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 14px solid #ffffff;
    margin: 0 auto;
  }
}

// Intro text
#section-1 {
  margin-top: -92px;
  padding-bottom: 0;

  .intro {
    background-color: #222222;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 15px 35px;

    .logo {
      max-width: 150px;

      img {
        width: 100%;
      }
    }

    .info {
      margin-left: 35px;

      p {
        font-size: 20px;
        color: #ffffff;
        line-height: 28px;
        letter-spacing: 0.3px;
        text-align: left;
        margin-bottom: 0;
      }
    }
  }
}

// Carousel
.carousel {
  position: relative;

  h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 2rem;
  }

  .carousel-image { 
    display: flex;

    .image-holder {
      width: calc(100%/4);
      position: relative;

      &.active {
        img.active-img {
          display: block;
        }
      }

      img {
        width: 100%;

        &.active-img {
          display: none;
          position: absolute;
          top: 0;
        }
      }
    }
    
  }

  .carousel-info {
    text-align: center;
    margin-top: 1rem;

    p {
      font-size: 20px;
      
    }
    .type-text {
      white-space: nowrap;
      // overflow: hidden;
      // animation: 3s typing steps(100, end) infinite;
      // display: inline-block;

      &.green {
        color: $green;
      }

      &.cyan {
        color: $cyan;
      }

      &.orange {
        color: $orange;
      }

      &.red {
        color: $light-red;
      }
    }
    
  }
}

// Call to action
.cta-container {
  position: relative;
  padding: 5em 0;
  border-top: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;

  .logo {
    text-align: center;

    img {
      max-width: 200px;
    }

    .tagline {
      margin: 1.5rem 0;
    }
  }

  .input-group {
    // max-width: 400px;
    margin: 0 auto;
    justify-content: center;

    .rounded-select {
      // width: 180px;
      height: 60px;
      border-radius:36px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display:inline-block;
      overflow:hidden;
      background-color: $black;
      color: $white;
      padding: 0 1em;

      select {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $white;
        height: 60px;
        -webkit-appearance: none;
        appearance: none;
      }
    }

    input.input-field {
      width: 180px;
      height: 60px;
      border: 2px solid $black;
      border-radius: 36px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0 1em;
      box-shadow: none;
    }

    button.btn.btn-primary {
      margin-left: 1.5rem;
      background-color: $blue;
      border-radius: 36px;
      font-size: 20px;
      padding: 0 1.5em;
    }
  }
}

#section-3 {
  padding-top: 0;
}

#section-4 {
  padding: 0;
  border-bottom: 1px solid $grey-light;
  background-color: $white;
  position: relative;

  .usage-container {
    position: relative;
  }

  .pin-navigation {
    position: relative;
    top: 50%;

    .dots {
      height: 10px;
      width: 9px;
      background-color: $grey-light;
      border-radius: 100%;
      display: block;
      margin: 10px 0;

      &.active {
        height: 20px;
        border-radius: 5px;
      }
    }
  }

  .pin-wrapper {
    height: 100%;
  }

  .scrollmagic-pin-spacer {
    position: absolute !important;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    height: 100% !important;
  }

  .item {
    height: 100vh;
    position: relative;

    &.item-1 {
      .image {
        background-image: url('../assets/images/1st-phone-screen.png');
        top: 50%;
      }
    }

    &.item-2 {
      .image {
        background-image: url('../assets/images/2nd-phone-screen.png');
        top: -50%;
      }
    }

    &.item-3 {
      .image {
        background-image: url('../assets/images/3rd-phone-screen.png');
        top: -50%;
      }
    }

    &.item-4 {
      .image {
        background-image: url('../assets/images/4th-phone-screen.png');
        top: -50%;
      }
    }

    &.item-5 {
      .image {
        background-image: url('../assets/images/5th-phone-screen.png');
        top: -50%;
      }
    }

    .image {
      margin-top: -200px;
      width: 45%;
      height: 613px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .item-info {
      color: $black;
      position: absolute;
      top: -45%;
      left: 70%;
      transform: translate(-50%, -50%);
      font-size: 17px;
      text-align: left;
      width: 50%;
      
      .section-title {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 300px;
        font-size: 30px;
        text-align: center;
      }

     h2 {
       opacity: 1 !important;
       visibility: visible !important;
       top: -80px;
       color: $grey-light;
       position: relative;
     }

      h3 {
        font-size: 30px;
      }

      p {
        font-size: 26px;
        margin: 1rem 0 0;
      }
    }
  }
 


  .titles {
    color: #3f434a;
    position: absolute;
    top: -50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 45%;
  }

  

  .list li {
    border-bottom: 1px solid #8e8e8e;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}

/** Main navigation **/
#main-nav {
  position: relative;

  ul.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;

    .nav-link {
      position: relative;

      a {
        color: $black;
        letter-spacing: 0.5px;
        text-decoration: none;

        // &:before {
        //   content: '';
        //   width: 100%;
        //   border-bottom: 1px solid $black;
        //   position: absolute;
        //   bottom: 0;
        // }

        &:hover {
          color: $blue;
        }
      }

      &.active {
        a {
          border-bottom: 1px solid $black;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}

/** Footer **/
.footer-wrapper {
  position: relative;
  padding: 2em 0;

  .copyright {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
    color: $grey;
  }
}



@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 50%
  }
}
  

body {
  overflow-x: hidden;
  margin: 0;
  font-family: sans-serif;
}

#intro {
  height: 100vh;
  background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%);
  text-align: center;
  color: #fff;
}

#intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



// .is-business {
//   background: url("https://lh3.googleusercontent.com/YK8pbBkHpEumI9hKPdlMj3fvni00NHCayOWXTMqj29oxLQb5iswsjw6So7mNP07KDKAIZ39upUVX2RxwlNumAxdocNAwOchaKqXR2WEShXiytHfSIw0KaY_ceNamD_zHf7BgfysZbfDxT3l7v3o6jDpnsO61r4kf1LQ7jR0pFabgZZQ85muGydDBZ4tCUUNcw9YWCpToWLL48Gc-7HaG_beoOJdarttPpZax_HK6jfPTR2E9jBlExf9Znp66FI7xNDha6GD6-fp4u6GB46WsNaMtgF9zpvjHHLE-ezKcNPoouqoi9q4Srj3lyVSVMpqQvO7nkZiFj2PECfy77HEgYsfinfU3MPWH-979fPryASymjeiyYEZ6iWXDih11LrHhrYvR4ZqINWjgJ0DJGQ2urTIwt4xN8L3pFQsYAl3n5tqmWUp2Bj9rgzGzbqabAIN87u7a2oXfaoHZcFKFbNFOeCCixUUEKBakY-HuN52ioHUpQpQSJ_woOgsXVnWek4EtqGaUs_I4Le-I9fS6FdB7K0MJmiKYp3F4pzAvI8fvIws86SMhaFH-ZLW3vdUcvHl3XxkfZUK5iIIWRWCGBw20BO_8ljIBj-JDe7OA28N62BNHjt7SPX-PKc7NoNrVKvArSFLRnMyKZeOU7vC6nbb13rzoYdZycS05yGhp6UxqKw=w1366-h451-no") no-repeat;
//   background-size: cover;
// }




